mat-card {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: honeydew;
    width: 500px;
}

mat-form-field {
    width: 40vw !important;
    max-width: 300px !important;
    min-width: 150px;
}

mat-card-header {
    margin-left: 35%;
}

mat-card-subtitle {
    margin-top: 30px;
    margin-left: 7px;
    font-size: 20px;
}

mat-form-field {
    margin-left: 19%;
}
