<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput [(ngModel)]="username" type="text" name="username" placeholder="admin" autocomplete="off">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput [(ngModel)]="password" type="password" name="password" placeholder="admin" autocomplete="off">
      </mat-form-field><br>
      <button (click)="onLogin()" mat-flat-button color="primary" type="submit">Login</button>
      <button mat-flat-button color="primary" style="float: right">Register</button>
    </form>
  </mat-card-content>
</mat-card>