#box {
border: 2px solid rgb(161, 5, 201);
margin: 10px 5px 10px 5px;
padding: 9px 12px 9px 25px;
font-family: sans-serif;
font-size: 18px;
border-radius: 15px;
color: #262626;
background-color:#c9d4fc;
width: 700px;
}

#price {
font-style: italic;
font-size: 20px;
font-weight: bold;
}

#date {
font-style: italic;
margin-left: 3px;
margin-right: 3px;
}