<div class="container">
  <div class="stockList">
    <mat-tab-group>
      <mat-tab label="Stocks">
        <mat-action-list>
          <app-stock-item
          *ngFor="let stock of stockList"
          [stockItem]="stock"
          (click)="onStockItemClick(stock)">
        </app-stock-item>
      </mat-action-list>
      </mat-tab>
      <mat-tab label="Favourites">
        <mat-action-list>
          <app-stock-item
          *ngFor="let stock of favoriteStocks"
          [stockItem]="stock"
          (click)="onFavoriteClick(stock)">
        </app-stock-item>
      </mat-action-list>
      </mat-tab>
    </mat-tab-group>
</div>
<div class="stockDetail">
  <app-stock-item-detail
  *ngIf="selectedStock != null"
  [stockItem]="selectedStock">
</app-stock-item-detail>
</div>
</div>
