<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>StockApp</span>
      <span class="spacer"></span>
      <span>{{username}}</span>
      <button
        type="button"
        aria-label="Logout"
        mat-icon-button
        (click)="onLogout()">
        <mat-icon aria-label="Logout user">logout</mat-icon>
      </button>
    </mat-toolbar>
    <!--content-->
    <app-stock-list></app-stock-list>
  </mat-sidenav-content>
</mat-sidenav-container>
