<mat-card>
  <mat-card-header>
    <mat-card-title>
      <p class="mat-h1">Login</p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="admin" type="email" autocomplete="off">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="admin" type="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card-content>
</mat-card>