<div class="upperContainer">
    <div class="favButton">
      <div *ngIf="isFavorite(stockItem); else elseBlock">
        <button mat-icon-button  color="primary" (click)="removeFavoriteClick(stockItem)">
            <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <ng-template #elseBlock>
        <button mat-icon-button (click)="addFavoriteClick(stockItem)">
            <mat-icon>favorite</mat-icon>
        </button>
      </ng-template>
    </div>  
</div>
<div class="lowerContainer">
    <div class="chart">
    <fusioncharts
        [chartConfig]="chartConfig"
        [dataSource]="dataSource"
        animation='0'
        defaultAnimation='0'>
    </fusioncharts>
    </div>
    <app-prediction
    [date]="dateTommorow"
    [price]="predictionPrice"
    [growthTrend]="growthThread"
    ></app-prediction>
</div>
  
